.main {
    padding: 25px 50px;
    text-align: right;
}
.titulo {
    font-size: 2rem;
    font-weight: bold;
}
.radio{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}
.preguntas{
    text-align: left;
}
.button {
    padding: 5px 10px;
}
